body {
  background-image: url("https://github.com/JaypeeB-Ph/CryptoLegions-Calculator/blob/main/bg.jpg?raw=true");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

input {
  font-size: 1.5rem;
  margin: 1rem 0;
}

form{
  text-align: left;
}

label{
  font-size: 1rem;
}

.cal-btn {
  display: block !important;
  margin: 0 auto 1rem;
}

.back-btn {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.container-fluid{
  text-align: center;
}

.calc {
  position: relative;
  background-color: #DDDDDD;
  margin: 1% 25%;
  border-radius: 10px;
  padding: 2% 5%;
}

.logo {
  width: 60%;
  height: auto;
}

@media (max-width: 730px){
  input{
    font-size: 1rem;
  }

  .back-btn {
    position: static;
    display: block;
    margin: 10px auto 5px ;
  }

}

@media (max-width: 1000px){

  .logo {
    width: 80%;
    height: auto;
  }
  
  .back-btn {
    position: static;
    display: block;
    margin: 10px auto 5px ;
  }

}



.net-profit-text{
  visibility: hidden;
}


footer{
  text-align: center;
  color: #fff;
  margin-top: 200px;
}
